body{
    width : 100%;
    margin : 0;
    background-color : rgb(70, 190, 190)
}

.header{
    margin : 0;
    padding : 10px;
    text-align : center;
    font-size : 48px;
    color : rgb(200, 200, 20);
    background-color : rgb(10, 50, 50)
}

/* Buttons style */
.button{
    display : inline-block;
    font-size : 18px;
    text-decoration : none;
    margin : 0;
    padding : 4px 10px 4px 10px;
    font-weight : normal;
    text-align : center;
    vertical-align : middle;
    white-space : nowrap;
    border : 1px solid;
    border-radius : 8px;
    cursor : default;
}
.button-create, 
.button-create:link, 
.button-create:active{
    background-color : rgb(50, 240, 50);
    border-color : rgb(10, 210, 40);
    color : rgb(120, 110, 60);
}
.button-create:hover, 
.button-create:focus{
    border-width : 1.5px 1.5px 1px 1px;
    background-color : rgb(50, 200, 50);
    color : rgb(240, 230, 170);
}
/**/
.button-form, 
.button-form:link, 
.button-form:active{
    font-size : 36px;
    width : 230px;
    height : 58px;
    color : rgb(200, 200, 20);
    background-color : rgb(10, 50, 50)
}
.button-form:hover, 
.button-form:focus{
    border-width : 1.5px 1.5px 1px 1px;
    background-color : rgb(200, 200, 20);
    color : rgb(0, 0, 0)
}
/**/
.button-link,
.button-link:link,
.button-link:active
{
    font-size : 36px;
    font-family : Arial;
    width : 208px;
    height : 48px;
    padding : 6px 10px 2px 10px;
    margin-left : 10px;
    color : rgb(200, 200, 20);
    background-color : rgb(10, 50, 50)
}
.button-link:hover,
.button-link:focus{
    border-width : 1.5px 1.5px 1px 1px;
    background-color : rgb(200, 200, 20);
    color : rgb(0, 0, 0)
}

/* Table style */
.table-wrapper{
    display : flex;
    flex-direction : row;
    justify-content : center;
}
.table-full{
    width : 80%;
}
.table-head{
    font-size : 18px;
    text-align : center;
}
.table-body{
    font-size : 14px;
    text-align : left;
    background-color : rgb(190, 190, 190)
}
.table-body>tr:hover{
    background-color : rgb(240, 230, 230)
}
.table-column-1,
.table-column-2,
.table-column-3,
.table-column-4,
.table-column-5{
    width :10%
}
/* Form style */
.form-wrapper{
    display : flex;
    flex-direction : row;
    justify-content : center;
    padding : 15px;
}
.form-line{
    display : flex;
    flex-direction : row;
    justify-content : center;
    padding : 10px;
}
.form-line-empty{
    display : flex;
    flex-direction : row;
    justify-content : center;
    padding : 0;
}
.form-line-box{
    width : 900px;
    padding : 20px 0 20px 450px;
}
.form-line-box-left{
    width : 400px;
}
.form-line-box-right{
    width : 500px;
}
.form-line-box-left-flex{

}
.form-line-box-left-label{
    font-size : 36px;
    color : rgb(0, 0, 0)
}
.form-line-box-right-input{
    font-size : 32px;
    padding : 0;
    background-color : rgb(230, 215, 215);
    color : rgb(10, 50, 50);
}
.form-line-box-right-input:focus{
    background-color : rgb(250, 240, 240);
}




