body {
    width : 100%;
}


.button{
    display : inline-block;
    font-size : 18px;
    text-decoration : none;
    margin : 0;
    padding : 4px 10px 4px 10px;
    font-weight : normal;
    text-align : center;
    vertical-align : middle;
    white-space : nowrap;
    border : 1px solid;
    border-radius : 8px;
    cursor : default;
}
.button-create, 
.button-create:link, 
.button-create:active{
    background-color : rgb(50, 240, 50);
    border-color : rgb(10, 210, 40);
    color : rgb(120, 110, 60);
}
.button-create:hover, 
.button-create:focus{
    border-width : 1.5px 1.5px 1px 1px;
    background-color : rgb(50, 200, 50);
    color : rgb(240, 230, 170);
}






