@model Profile.ViewModels.AdminGroup.ListViewModel

@{
    ViewBag.Title = "Groups list";
}

<h2>Groups</h2>

<div>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Creation date</th>
                <th>Members count</th>
                <th>Rank</th>
                <th>Karma</th>
                <th>Avatar</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var line in Model.GroupsList)
            {

            }



        </tbody>




    </table>
</div>

